body {
  padding-top: 20px;
  padding-bottom: 40px;
  background: #eee
}

#authorize-container{
    position: relative;
    margin: 80px auto;
    padding: 40px 40px 40px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    max-width: 400px;
}

#authorize-container h2 {
    margin-bottom: 10px;
}

#authorize-container p {
    font-size: 14px;
}

td.placeholder {
    text-align: center;
    font-style: italic;
    opacity: 0.5;
}

.form-group ul {
    margin: 0;
    padding: 0;
    padding-top: 7px
}

.form-group li {
    list-style-type: none;
}

.input-group {
    margin-bottom: 5px;
}
