{% extends "base.html" %}
{% from "_helpers.html" import csrf_field %}

{% block content %}
  <div class="container" id="authorize-container">
    <center><img src="/static/hswaw_wht.svg" style="width: 50%;"/></center>
    <div class="alert alert-danger" role="alert">
      <p><strong>Oh snap!</strong> Your membership has expired. This operation requires active membership.</p>
      <p>Go to <a href="https://kasownik.hackerspace.pl">Kasownik</a> and check your pending membership fees.</p>
    </div>
    <a href="/">&laquo; Go back</a>
  </div>
{% endblock %}
